<div id="article" style="background:#FFF;">
<img class="img-article"  ng-src="{{currentArticle.featured_image_thumbnail_url}}">
<h4 ng-bind-html="currentArticle.date"></h4>
	<p id="content" ng-bind-html="currentArticle.content.rendered | trusted"></p>
	<div class="partage-button">
<a href="https://www.facebook.com/sharer/sharer.php?u={{currentArticle.link|encodeUri}}&t={{currentArticle.title.rendered}}">	
	<button class="partage-button-" >
		<div style="width:20px;margin:auto;">
			<img src="images/fb.png" style="
    display: block;
    float: left;
    line-height: 15px;
    width:30px;
"/>
		</div>
	</button>
</a>

<a href="whatsapp://send?text={{currentArticle.title.rendered}}" 
            data-action="{{currentArticle.link}}">
	<button class="partage-button-" >
		<div style="width:20spx;margin:auto;">
			<img src="images/Whatsapplogo.png" style="
    display: block;
    float: left;
    line-height: 15px;
    width:30px;
"/>
		</div>
	</button>
</a>
</div>
</div>

<ad-placement container-id="content"></ad-placement>
